/* RESET DO CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.6;
}

header {
    background-color: rgb(66, 22, 148);
    color:rgb(255, 255, 255);
    padding: 75px;
    text-align: center;
}

main {
    background-color: rgb(240, 240, 240);
    flex: 1;
    padding: 48px 38px;
}

#sobre-mim {
    display: block;
    background-color: rgb(255, 255, 255);
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    border-radius: 12px;
    margin-bottom: 40px;
}

#meus-hobbies {
    background-color: rgb(255, 255, 255);
    width: 80%;
    margin-bottom: 16px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 12px;
}

#titulo-sobre-mim {
    font-size: 40px;
    margin-bottom: 16px;
    border-bottom: 2px solid rgb(0, 0, 0);
    margin-bottom: 12px;
}

#titulo-meus-hobbies {
    font-size: 40px;
    margin-bottom: 25px;
}

.texto-sobre-mim {
    font-size: 20px;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 16px;
}

li {
    background-color: rgb(240, 240, 255);
    padding: 8px;
    border-left: 4px solid black;
    border-radius: 6px;
    font-size: 16px;
    min-width: 250px;
}

li:hover {
    background-color: rgb(133, 118, 197);
    transform: translateX(5px);
    transition: all 0.3s ease;
}