/* RESET DO CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.6;
}

header {
    background-color: rgb(66, 22, 148);
    color:rgb(255, 255, 255);
    padding: 75px;
    text-align: center;
}

main {
    background-color: rgb(240, 240, 240);
    flex: 1;
    padding: 48px 38px;
}

#sobre-mim {
    display: block;
    background-color: rgb(255, 255, 255);
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    border-radius: 12px;
}

#titulo-sobre-mim {
    font-size: 40px;
    margin-bottom: 16px;
    border-bottom: 2px solid rgb(0, 0, 0);
    margin-bottom: 12px;
}

.texto-sobre-mim {
    font-size: 20px;
}